* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

a {
    text-decoration: none;
    color: white;
}

#navbar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lavenderblush;
    background-color: rgb(138, 146, 148);
    
}

#nav-links {
    
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 30px;
}

@media (max-width: 500px) {
    #nav-links {
        justify-content: space-between;
    }
}

ul > li {
    
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

#welcome-section {
    height: 100vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightcyan;
    background-color: whitesmoke;
    text-align: center;
}

#hero {
    
    max-width: 1000px;
    margin: auto;
}

#welcome-button {
    font-weight: bold;
    color: white;
    padding: 0px;
    width: 22rem;
    height: 5rem;
    border-style: none;
    border-radius: 1px;
    cursor: pointer;
    background-color: rgb(123, 143, 148);
    margin-bottom: 20px;
}

#welcome-header {
    
    padding: 75px 180px;
    padding-bottom: 60px;
    font-size: 5rem;
}

@media (max-width: 1200px) {
    #welcome-header {
        padding: 75px 140px;
        padding-bottom: 60px;
    }
}

@media (max-width: 961px) {
    #welcome-header {
        padding: 75px 80px;
        padding-bottom: 60px;
    }
}

#welcome-text {
    font-size: 2rem;
}

#projects {
    background-color: lightcyan;
    background-color: rgb(160, 190, 199);
    background-color: rgb(226, 219, 214);
    padding: 0 20px;
    text-align: center;
}

.projects-header {
    
    font-size: 4.5rem;
    border-bottom: 0.2rem solid;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 35rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    
    padding-top: 20px;
    padding-bottom: 60px;
}

@media (max-width: 677px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    }
}

.project-tile {
    margin-top: 20px;
    background-color: whitesmoke;
    background-color: rgb(138, 146, 148);
}

.project-image {
    width: 100%;
}

.project-title {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
}

/*#welcome-section {
    height: 100vh;
    margin-top: 60px;
    display: flex;
    align-items: center;
    background-color: lightcyan;
    text-align: center;
}

#hero {
    
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#welcome-button {
    
    width: 20rem;
    height: 5rem;
    border-style: none;
    cursor: pointer;
}

#welcome-header {
    padding: 60px 180px;
    font-size: 5rem;
}*/

#contact {
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcyan;
    background-color: whitesmoke;
    text-align: center;
}

#container {
    max-width: 1000px;
}

#contact-header {
    font-size: 5rem;
    font-weight: bold;
    padding: 20px 180px;
}

#contact-subheader {
    font-size: 2rem;
    padding-bottom: 5px;
}

#contact-links {
    display: flex;
    justify-content: center;
}

.icons {
    height: 7vh;
    margin: 20px;
}